@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  /* font-family: 'Gilroy', sans-serif; */
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root{
  --primary-color: #0096D8;
  --primary-low-color: #0097d83b;
}
input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto;
  -webkit-appearance: none;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}
ul.navlinks li a.active {
  color: #0096d8;
}
@media screen and (min-width: 1024px) {
  .hero-sec {
    background-image: url(./assets/images/hero-section.png);
    background-repeat: no-repeat;
    background-position: bottom 50% right -20%;
    background-size: 600px;
  }
}
@media screen and (min-width: 1180px) {
  .hero-sec {
    background-position: bottom 50% right 0%;
    background-size: 600px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-sec {
    background-position: right;
    background-size: contain;
  }
}

@media screen and (min-width: 1024px) {
  .hero-sec-v2 {
    background-image: url(./assets/images/hero-section-v2.png);
    background-repeat: no-repeat;
    background-position: bottom 50% right -20%;
    background-size: 600px;
  }
}
@media screen and (min-width: 1180px) {
  .hero-sec-v2 {
    background-position: bottom 50% right 0%;
    background-size: 600px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-sec-v2 {
    background-position: right;
    background-size: contain;
    background-size: 900px;
  }
}

@keyframes show-transition {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes show-text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes press {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

.spinnerCustom {
  width: 56px;
  height: 56px;
  margin: auto;
  display: grid;
  border: 4.5px solid #0000;
  border-radius: 50%;
  border-right-color: #0096d8;
  animation: spinner-a4dj62 1s infinite linear;
}

.spinnerCustom::before,
.spinnerCustom::after {
  content: "";
  grid-area: 1/1;
  margin: 2.2px;
  border: inherit;
  border-radius: 50%;
  animation: spinner-a4dj62 2s infinite;
}

.spinnerCustom::after {
  margin: 8.9px;
  animation-duration: 3s;
}

@keyframes spinner-a4dj62 {
  100% {
     transform: rotate(1turn);
  }
}

.growing-div .swiper-pagination {
  bottom: 52px !important;
}

.single-product-page .mySwiper .swiper-slide {
  opacity: 0.4;
}

.single-product-page .mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
.custom-product-slider-btn {
  width: 2.2rem !important;
  height: 2.2rem !important;
  border-radius: 1000px;
}
@media screen and (min-width: 1024px) {
  .single-product-page
    .single-product-page-v2
    .swiper-wrapper
    .swiper-slide
    img {
    height: 600px;
  }
}

.custom-shadow-btn {
  box-shadow: 0px 18px 20px rgba(0, 150, 216, 0.1);
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.active-user {
  background-color: #0096d8;
}
.active-user div p {
  color: white !important;
}

/* Become Seller CSS */

.seller-testimonial-swiper
  .swiper-wrapper
  .swiper-slide
  .seller-testimonial
  .seller-testimonial-info::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 72px;
  height: 2px;
  background-color: #263238;
}

.seller-testimonial-swiper
  .swiper-wrapper
  .swiper-slide-active
  .seller-testimonial {
  background: #263238;
  box-shadow: 0px 30px 60px rgba(119, 118, 156, 0.24);
}

.seller-testimonial-swiper
  .swiper-wrapper
  .swiper-slide-active
  .seller-testimonial-quotes {
  background: #0096d8;
  color: white;
}

.seller-testimonial-swiper
  .swiper-wrapper
  .swiper-slide-active
  .seller-testimonial-info {
  border-color: rgba(255, 255, 255, 0.123);
}

.seller-testimonial-swiper
  .swiper-wrapper
  .swiper-slide-active
  .seller-testimonial-info
  p {
  color: white;
}

.seller-testimonial-swiper
  .swiper-wrapper
  .swiper-slide-active
  .seller-testimonial-footer
  h1 {
  color: #0096d8;
}
.seller-testimonial-swiper
  .swiper-wrapper
  .swiper-slide-active
  .seller-testimonial-footer
  p {
  color: white;
  opacity: 1;
}

.seller-testimonial-swiper
  .swiper-wrapper
  .swiper-slide-active
  .seller-testimonial
  .seller-testimonial-info::after {
  background-color: white;
}


@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shake 0.4s ease-in-out;
}
.card {
  background-color: white;
  box-shadow: 0px 3px 6px rgba(24, 24, 27, 0.02), 0px 2px 7px rgba(24, 24, 27, 0.04), 0 0 0 1px rgba(24, 24, 27, 0.08);
  padding: 56px 24px 30px 24px;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  transition: box-shadow 0.25s;
  height: 100%;
}
.card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 15px;
  background-color: transparent;
}
.card .icon {
  z-index: 2;
  position: relative;
  display: table;
  padding: 8px;
}
/* .card .icon::after {
  content: "";
  position: absolute;
  inset: 4.5px;
  border-radius: 50%;
  background-color: rgba(24, 24, 27, 0.04);
  border: 1px solid rgba(24, 24, 27, 0.1);
  transition: background-color 0.25s, border-color 0.25s;
} */
.card .icon svg {
  position: relative;
  z-index: 1;
  display: block;
  width: 24px;
  height: 24px;
  transform: translateZ(0);
  color: #18181B;
  transition: color 0.25s;
}
.card h4 {
  z-index: 2;
  position: relative;
  margin: 12px 0 4px 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 2;
  color: #18181B;
}
.card p {
  z-index: 2;
  position: relative;
  margin: 0;
  font-size: 24px;
  line-height: 1.7;
  color: #52525B;
  font-weight: 600;
}
.card .shine {
  border-radius: inherit;
  position: absolute;
  inset: 0;
  z-index: 1;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.5s;
}
.card .shine:before {
  content: "";
  width: 150%;
  padding-bottom: 150%;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  bottom: 55%;
  filter: blur(35px);
  opacity: .3;
  transform: translateX(-50%);
  background-color: var(--primary-low-color);
  background-image:conic-gradient(from 225deg at 50% 50%, var(--primary-low-color) 0deg, var(--primary-color) 25deg, #EDFAF6 285deg, #FFFFFF 345deg, var(--primary-color) 360deg);
}
.card .background {
  border-radius: inherit;
  position: absolute;
  inset: 0;
  overflow: hidden;
  -webkit-mask-image: radial-gradient(circle at 60% 5%, black 0%, black 15%, transparent 60%);
  mask-image: radial-gradient(circle at 60% 5%, black 0%, black 15%, transparent 60%);
}
.card .background .tiles {
  opacity: 0;
  transition: opacity 0.25s;
}
.card .background .tiles .tile {
  position: absolute;
  background-color: var(--primary-low-color);
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  opacity: 0;
}
.card .background .tiles .tile.tile-4, .card .background .tiles .tile.tile-6, .card .background .tiles .tile.tile-10 {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}
.card .background .tiles .tile.tile-3, .card .background .tiles .tile.tile-5, .card .background .tiles .tile.tile-8 {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
}
.card .background .tiles .tile.tile-2, .card .background .tiles .tile.tile-9 {
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
}
.card .background .tiles .tile.tile-1 {
  top: 0;
  left: 0;
  height: 10%;
  width: 22.5%;
}
.card .background .tiles .tile.tile-2 {
  top: 0;
  left: 22.5%;
  height: 10%;
  width: 27.5%;
}
.card .background .tiles .tile.tile-3 {
  top: 0;
  left: 50%;
  height: 10%;
  width: 27.5%;
}
.card .background .tiles .tile.tile-4 {
  top: 0;
  left: 77.5%;
  height: 10%;
  width: 22.5%;
}
.card .background .tiles .tile.tile-5 {
  top: 10%;
  left: 0;
  height: 22.5%;
  width: 22.5%;
}
.card .background .tiles .tile.tile-6 {
  top: 10%;
  left: 22.5%;
  height: 22.5%;
  width: 27.5%;
}
.card .background .tiles .tile.tile-7 {
  top: 10%;
  left: 50%;
  height: 22.5%;
  width: 27.5%;
}
.card .background .tiles .tile.tile-8 {
  top: 10%;
  left: 77.5%;
  height: 22.5%;
  width: 22.5%;
}
.card .background .tiles .tile.tile-9 {
  top: 32.5%;
  left: 50%;
  height: 22.5%;
  width: 27.5%;
}
.card .background .tiles .tile.tile-10 {
  top: 32.5%;
  left: 77.5%;
  height: 22.5%;
  width: 22.5%;
}
@-webkit-keyframes tile {
  0%, 12.5%, 100% {
    opacity: 1;
  }
  25%, 82.5% {
    opacity: 0;
  }
}
@keyframes tile {
  0%, 12.5%, 100% {
    opacity: 1;
  }
  25%, 82.5% {
    opacity: 0;
  }
}
.card .background .line {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.35s;
}
.card .background .line:before, .card .background .line:after {
  content: "";
  position: absolute;
  background-color: #E9E9E7;
  transition: transform 0.35s;
}
.card .background .line:before {
  left: 0;
  right: 0;
  height: 1px;
  transform-origin: 0 50%;
  transform: scaleX(0);
}
.card .background .line:after {
  top: 0;
  bottom: 0;
  width: 1px;
  transform-origin: 50% 0;
  transform: scaleY(0);
}
.card .background .line.line-1:before {
  top: 10%;
}
.card .background .line.line-1:after {
  left: 22.5%;
}
.card .background .line.line-1:before, .card .background .line.line-1:after {
  transition-delay: 0.3s;
}
.card .background .line.line-2:before {
  top: 32.5%;
}
.card .background .line.line-2:after {
  left: 50%;
}
.card .background .line.line-2:before, .card .background .line.line-2:after {
  transition-delay: 0.15s;
}
.card .background .line.line-3:before {
  top: 55%;
}
.card .background .line.line-3:after {
  right: 22.5%;
}
.card:hover {
  box-shadow: 0px 3px 6px rgba(24, 24, 27, 0.05), 0px 8px 15px rgba(24, 24, 27, 0.1), 0 0 0 1px rgba(24, 24, 27, 0.15);
}
/* .card:hover .icon::after {
  background-color: var(--primary-low-color);
  border-color: var(--primary-color);
} */
.card:hover .icon svg {
  color: var(--card-hover-icon-color);
}
.card:hover .shine {
  opacity: 1;
  transition-duration: 0.5s;
  transition-delay: 0s;
}
.card:hover .background .tiles {
  opacity: 1;
  transition-delay: 0.25s;
}
.card:hover .background .tiles .tile {
  -webkit-animation-name: tile;
          animation-name: tile;
}
.card:hover .background .line {
  opacity: 1;
  transition-duration: 0.15s;
}
.card:hover .background .line:before {
  transform: scaleX(1);
}
.card:hover .background .line:after {
  transform: scaleY(1);
}
.card:hover .background .line.line-1:before, .card:hover .background .line.line-1:after {
  transition-delay: 0s;
}
.card:hover .background .line.line-2:before, .card:hover .background .line.line-2:after {
  transition-delay: 0.15s;
}
.card:hover .background .line.line-3:before, .card:hover .background .line.line-3:after {
  transition-delay: 0.3s;
}
.card:hover h4{
  color: var(--primary-color);
}
.card:hover .articels-p{
  color: var(--primary-color);
}
